.head {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/background5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*.jumbotron{
  background-image: url(../img/background5.jpg);
}*/
.imagen{
  border-radius: 40%;
  display: block;
    margin-left: auto;
    margin-right: auto;
   
}
.head h1{
  color: white;
    font-family: helvetica;
    text-shadow: black 0.1em 0.1em 0.2em; 
    font-weight: bold;
}

.head h3{
  color: white;
    font-family: helvetica;
    text-shadow: black 0.1em 0.1em 0.2em; 
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

#cuadro{
  background-color:beige;
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
}

h2{
   color: black;
    font-family: helvetica;
   /* text-shadow: black 0.1em 0.1em 0.2em; */
    font-weight: bold;
    font-size: 35px;

}

.pm-2 {
  padding-top: 60px;
  padding-bottom: 30px;
    color: white;
    font-family: optima-italic;
}

.bg-primary {
    /*background-color: #1d809f!important;*/
  /*  background-color:#ffd700 !important;*/
     background-color:#f9d70b !important;
    font-size: 20px;
}

.service-icon {
    background-color: #fff;
    color: #1d809f;
    height: 7rem;
    width: 7rem;
    display: block;
    line-height: 7.5rem;
    font-size: 2.25rem;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
}

.fa fa-mobile {
  font-size: 80px;
}

p{
  font-family:optima-italic; 
}
 h4{
  font-family:optima; 
 }


.image-flip:hover .backside, .image-flip.hover .backside {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
-o-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
transform: rotateY(0deg);
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
-o-transform: rotateY(180deg);
transform: rotateY(180deg);
}
.image-flip {
margin-bottom:100px;
width: 300px;
height: 250px;
}
.mainflip {
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-ms-transition: 1s;
-moz-transition: 1s;
-moz-transform: perspective(1000px);
-moz-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: relative;
}
.frontside, .backside {
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
-ms-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition: 1s;
-webkit-transform-style: preserve-3d;
-moz-transition: 1s;
-moz-transform-style: preserve-3d;
-o-transition: 1s;
-o-transform-style: preserve-3d;
-ms-transition: 1s;
-ms-transform-style: preserve-3d;
transition: 1s;
transform-style: preserve-3d;
position: absolute;
top: 0;
left: 0;
}
.frontside {
-webkit-transform: rotateY(0deg);
-ms-transform: rotateY(0deg);
z-index: 2;
}
.backside {
background: white;
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-180deg);
-o-transform: rotateY(-180deg);
-ms-transform: rotateY(-180deg);
transform: rotateY(-180deg);
/*border: 1px solid rgba(0,0,0,.125);*/
padding-right: 30px;
padding-left: 20px;
}
.card, .card-img-top {
border-radius: 0;
/*border: 1px solid rgba(0,0,0,.125);*/

}

.card{
  margin-top: 50px;
  /*margin-left: 30px;*/
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
     padding: .1rem;
     padding-top: .5rem; 
}

.card-title{
  
color:white;
font-weight: bold;
text-align: center;
}



.card-text{
  padding-right: 10px;
  padding-left: 10px;
  color:white;
}

.burgerbtn{
  padding-left: 40px;
}

.text-faded{
  padding-bottom: 60px;
}
